
#col-Login{
  align-items: center;
  flex-direction: column; 
  justify-content: center;
  margin-top: 12%;
  margin-right: 1%;
  width: 100%;
  min-height: 100%;
  padding: 20px;
}

#col-Edit{
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-top: 12%;
  margin-right: 90%;
  width: 100%;
  min-height: 100%;
  padding: 20px;
}
/* Customize the label (the container) */

/* Hide the browser's default checkbox */



